body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(255, 160, 160);
}

#header {
    padding: 13px 20px;
}

#app-name{
    font-size: 29px;
}


#calc-elements {
    padding: 20px;
    margin-top: 10px;
}

.output {
    border: none;
    color: #F55D5D;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

#output_final {
    border: none;
    color: #F55D5D;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}

#additional-info {
    margin-top: 10px;
}

#button-place {
    padding:10px;
}